body {
    margin: 0;
    background-image: url("record.png");
    background-repeat: round;
}

.page-header {
    background-color: #6B0F1A;
    color: #EFF1ED;
    text-align: center;
}

.records {
    padding: 1em;
    background-color: rgb(203, 203, 203);
}